{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'admin_quitus_files_pg' %}
{% from 'preins-macros.jinja' import render_info_div, render_messages %}


{% block page_header %}
  <h1>{{ _('Gestion des fichiers de paiements ') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li> 
      <li class="breadcrumb-item active" aria-current="page">{{ _('Fichiers quitus') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
      <div class="card">
       <div class="card-body pt-3">

        <!-- Alertes -->
        {{ render_messages() }}

        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered mb-3" id="borderedTab" role="tablist">
         <li class="nav-item" role="presentation">
          <button aria-controls="downloads" aria-selected="true" class="nav-link active" data-bs-target="#bordered-downloads" data-bs-toggle="tab" id="downloads-tab" role="tab" type="button">
           Exporter
          </button>
         </li>
         <li class="nav-item" role="presentation">
          <button aria-controls="uploads" aria-selected="false" class="nav-link" data-bs-target="#bordered-uploads" data-bs-toggle="tab" id="uploads-tab" role="tab" type="button">
            Importer
          </button>
         </li>
        </ul>
        <div class="tab-content pt-2" id="borderedTabContent">
         <div aria-labelledby="downloads-tab" class="tab-pane fade show active" id="bordered-downloads" role="tabpanel">
          <div class="row">
            <div class="col-lg-4 col-12 d-flex flex-columns align-items-start">
              <a href="{{ url_for('quitus.download_new_quitus') }}" class="btn btn-secondary btn-lg m-1">Quitus nouveaux etudiants a mettre en ligne</a>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-columns align-items-start">
              <a href="{{ url_for('quitus.download_old_quitus') }}" class="btn btn-secondary btn-lg m-1">Quitus anciens etudiants a mettre en ligne</a>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-columns align-items-start">
              <a href="{{ url_for('quitus.download_requetes') }}" class="btn btn-secondary btn-lg m-1">Requetes nouveaux etudiants</a>
            </div>
            <div class="col-lg-4 col-12 d-flex flex-columns align-items-start">
              <a href="{{ url_for('quitus.download_anomalies') }}" class="btn btn-secondary btn-lg m-1">Anomalies nouveaux etudiants</a>
            </div>
          </div>
         </div>
         <div aria-labelledby="uploads-tab" class="tab-pane fade" id="bordered-uploads" role="tabpanel">
          Nesciunt totam et. Consequuntur magnam aliquid eos nulla dolor iure eos quia. Accusantium distinctio omnis et atque fugiat. Itaque doloremque aliquid sint quasi quia distinctio similique. Voluptate nihil recusandae mollitia dolores. Ut laboriosam voluptatum dicta.
         </div>
        </div>
        <!-- End Bordered Tabs -->
       </div>
      </div>
    </section>
</div>
{% endblock %}


{% block page_authors%} 
    <a>Malcom Chumchoua Penda </a>
{% endblock %}

