{% extends "dashboard/layout.jinja" %}
{% set page_id='moderation' %}

{% block custom_css %}
    <link href="{{ url_for('blog.static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block page_header %}
  <h1>{{ _('Moderation') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Moderation') }}</li>
    </ol>
  </nav>
{% endblock %}

{% macro alert_article_vide(message) %}
<div class="container-fluid">
    <div class="row gy-5">
        <div class="col-3 mt-0">
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro vue_article(article) %}
<div class="col-lg-4 col-md-6 mt-0">
    <div class="card shadow-sm">
        <img src="{{url_for('blog.static', filename=article.image) }}" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title ms-0 mt-3 mb-0 ps-0 py-2">
                <a class href="#">{{article.titre}}</a>
            </h5>
            <ul class="events-info mx-0 px-0">
                <li><i class="bi bi-alarm me-1"></i>Posté le: <b>{{article.date.strftime('%d/%m/%Y %H:%M')}}</b></li>
                <li><i class="bi bi-person me-1"></i>Auteur: <b>{{article.user_id}}</b></li>
                <li><i class="bi bi-bell me-1"></i>Statut: <b class="text-{{article.color}}">{{article.statut}}</b></li>
            </ul>
            <p>
                {{article.description[:100]}} ... 
                <a href="{{ url_for('blog.manage_one_article', id=article.id) }}">Voir plus</a>
            </p>
        </div>
        <div class="card-footer d-flex justify-content-end">
            {% if article.statut == "en attente" or article.statut == "rejeté" %}
                <a href="#" class="btn btn-primary mx-1">approuver</a>
            {% endif %}
            {% if article.statut == "en attente" or article.statut == "approuvé" %}
                <a href="#" class="btn btn-primary mx-1">rejeter</a>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% block page_main %}
<section class="events">
    <div class="container-fluid">
        <div class="row gy-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% set nb_articles = namespace(tous=0, attente=0, approuv=0, rejet=0) %}
            {% for article in articles %}
                {% set nb_articles.tous = nb_articles.tous + 1 %}
                {% if article.statut == 'en attente' %}
                    {% set nb_articles.attente = nb_articles.attente + 1 %}
                {% elif article.statut == 'approuvé' %}
                    {% set nb_articles.approuv = nb_articles.approuv + 1 %}
                {% elif article.statut == 'rejeté' %}
                    {% set nb_articles.rejet = nb_articles.rejet + 1 %}
                {% endif %}
            {% endfor %}

            <!-- Pills Tabs -->
            <ul class="nav nav-pills mt-5 mb-5 pb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button aria-controls="pills-attente" aria-selected="false" class="nav-link active" 
                            data-bs-target="#pills-attente" data-bs-toggle="pill" id="pills-attente-tab" 
                            role="tab" type="button">
                        En attente</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button aria-controls="pills-approuv" aria-selected="false" class="nav-link" 
                            data-bs-target="#pills-approuv" data-bs-toggle="pill" id="pills-approuv-tab" 
                            role="tab" type="button">
                        Approuvés</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button aria-controls="pills-rejet" aria-selected="false" class="nav-link" 
                            data-bs-target="#pills-rejet" data-bs-toggle="pill" id="pills-rejet-tab" 
                            role="tab" type="button">
                        Rejetés</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button aria-controls="pills-tous" aria-selected="true" class="nav-link" 
                            data-bs-target="#pills-tous" data-bs-toggle="pill" id="pills-tous-tab" 
                            role="tab" type="button">
                        Tous</button>
                </li>
            </ul>
            <div class="tab-content pt-0 mt-1" id="myTabContent">
                <div aria-labelledby="tous-tab" class="tab-pane fade show active" id="pills-tous" role="tabpanel">
                    {% if nb_articles.tous == 0 %}
                        {{ alert_article_vide('Aucun article') }}
                    {% else %}
                        <div class="container-fluid">
                            <div class="row gy-5">
                                {% for article in articles %}
                                    {{ vue_article(article) }}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div aria-labelledby="attente-tab" class="tab-pane fade" id="pills-attente" role="tabpanel">
                    {% if nb_articles.attente == 0 %}
                        {{ alert_article_vide('Aucun article en attente') }}
                    {% else %}
                        <div class="container-fluid">
                            <div class="row gy-5">
                                {% for article in articles %}
                                    {% if article.statut == 'en attente'%}
                                        {{ vue_article(article) }}
                                    {% endif %}
                                {% endfor %}
                            </div>  
                        </div>  
                    {% endif %}
                </div>
                <div aria-labelledby="approuv-tab" class="tab-pane fade" id="pills-approuv" role="tabpanel">
                    {% if nb_articles.approuv == 0 %}
                        {{ alert_article_vide('Aucun article approuvé') }}
                    {% else %}
                        <div class="container-fluid">
                            <div class="row gy-5">
                            {% for article in articles %}
                                {% if article.statut == 'approuvé' %}
                                    {{ vue_article(article) }}
                                {% endif %}
                            {% endfor %}
                            </div>  
                        </div>  
                    {% endif %}
                </div>
                <div aria-labelledby="rejet-tab" class="tab-pane fade" id="pills-rejet" role="tabpanel">
                    {% if nb_articles.rejet == 0 %}
                        {{ alert_article_vide('Aucun article rejeté') }}
                    {% else %}
                        <div class="container-fluid">
                            <div class="row gy-5">
                            {% for article in articles %}
                                {% if article.statut == 'rejeté' %}
                                    {{ vue_article(article) }}
                                {% endif %}
                            {% endfor %}
                            </div>  
                        </div>  
                    {% endif %}
                </div>  
            </div>
            <!-- End Pills Tabs -->

        </div><!-- End blog posts list -->
    </div>
</section>
{% endblock %}

{% block page_authors %}
    <a href="">Fanny,</a>
    <a href="">Mx</a>
{% endblock %}