{% extends "landing/layout.jinja" %}
{% set hero_size = 'xs'%}

{% block custom_css %}
    <link href="{{ url_for('blog.static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}


{% block page_sections %}
<section class="blog-article mt-2 mb-4 px-4">
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 d-flex flex-column align-items-start">
                <h1 class="pt-2 pb-1">Details Article No {{ article.id }}</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('home.index') }}">{{ _('Accueil') }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('blog.index') }}">Blog</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Article No {{ article.id }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-lg-9 col-12">
                <div class="card mb-3">
                    <img src="{{url_for('blog.static', filename=article.image) }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title text-primary">{{article.titre}}</h3>
                        <div class="d-flex flex-lg-row flex-column justify-content-start mb-3"> 
                            <div class="d-flex flex-lg-row flex-column">
                                <span class="me-4 mt-2"><i class="fa fa-user me-1"></i>{{article.user_id}}</span>
                                <span class="me-4 mt-2"><i class="fa fa-clock me-1"></i>Poste le {{article.date.strftime('%d/%m/%Y %H:%M')}}</span>
                            </div>
                            <div class="d-flex flex-row">
                                <span class="me-4 mt-2"><i class="fa fa-thumbs-up me-1"></i>{{ article.nb_likes }}</span>
                                <span class="me-4 mt-2"><i class="fa fa-thumbs-down me-1"></i>{{ article.nb_dislikes }}</span>
                            </div>
                        </div>
                        <p class="card-text">{{article.description}}
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="commentaires col-lg-9 col-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.nb_commentaires }} Commentaires</h5>
                        <p class="my-4 ps-lg-3 pe-lg-5 px-1">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#ajoutCommentaire">
                                Ajouter un commentaire
                            </button>
                        </p>
                        <div class="modal fade" id="ajoutCommentaire" tabindex="-1" role="dialog" aria-labelledby="ajoutCommentaireLabel" aria-hidden="true">
                            <div class="modal-dialog .modal-dialog-centered" role="document">
                                <form class="modal-content" action="{{ url_for('blog.commenter_article', id=article.id) }}" method="post">
                                    <div class="modal-header d-flex justify-content-between">
                                        <h5 class="modal-title" id="ajoutCommentaireLabel">Ajouter un commentaire</h5>
                                        <button type="button" class="close btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                                            <i class="bi bi-x-lg"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <input class="btn btn-primary" type="submit" value="Envoyer">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush ps-lg-2 pe-lg-5 px-1">
                            {% for commentaire in article.commentaires %}
                                <li class="list-group-item">
                                    <h6>@{{ commentaire.user_id }} - {{ commentaire.date.strftime('%d/%m/%Y %H:%M')}}</h6>
                                    <p>{{ commentaire.contenu }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block page_authors %}
    <a href="">Fanny,</a>
    <a href="">Mx</a>
{% endblock %}