{% extends "landing/layout.jinja" %}
{% set hero_size = 'md'%}

{% block custom_css %}
    <link href="{{ url_for('blog.static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block page_hero %}
<div
    class="hero-info w-75 d-flex flex-column justify-content-center align-items-center">
    <h1>{{ _('Bienvenue  sur blog') }}</h1>
    <p>
        Le savoir est le pouvoir partagez-le. La connaissance est la clé, acquerez-la.
        Les idées sont contagieuses propagez-les.
    </p>
</div>
<div class="hero-bg">
    <img src="{{ url_for('demo_landing.static', filename='img/hero-bg.jpg') }}" alt>
</div>
{% endblock %}

{% block page_sections %}
<section class="blog-posts my-4">
    <div class="container">
        <div class="row gy-4">
        {% for article in articles %}
            <!-- Post list item -->
            <div class="col-lg-4 col-12">
                <article>
                    <div><img alt="" class="img-fluid" src="{{ url_for('blog.static', filename=article.image) }}"/></div>
                    <div class="post-title d-flex flex-column mt-2">
                        <h1 class="ms-0 mt-2">Article No {{ article.id }} - {{ article.categorie.libelle }}</h1>
                        <h2 class="ms-0 mt-1">{{article.titre}}</h2>
                    </div>
                    <p>
                        {{article.description[:100]}} ... 
                        <a href="{{ url_for('blog.get_article', id=article.id) }}">Voir plus</a>
                    </p>
                    <p class="post-meta mt-2">
                        Poste par <b>{{article.user_id}}</b> 
                        le <b>{{article.date.strftime('%d/%m/%Y')}}</b>
                    </p>
                    <p class="d-flex justify-content-start mt-2"> 
                        <span class="mx-2"><i class="fa fa-comment me-1"></i>{{ article.nb_commentaires }}</span>
                        <span class="mx-2"><i class="fa fa-thumbs-up me-1"></i>{{ article.nb_likes }}</span>
                        <span class="mx-2"> <i class="fa fa-thumbs-down me-1"></i>{{ article.nb_dislikes }}</span>
                    </p>
                </article>
            </div><!-- End post list item -->
        {% else %}
            <div class="alert alert-info" role="alert">
                Aucun d'article
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block page_authors %}
    <a href="">Fanny,</a>
    <a href="">Mx</a>
{% endblock %}
