{% extends "dashboard/layout.jinja" %}

{% block page_main %}
<div class="container-fluid">
    <div class="row mt-3">
        <div class="stats col-md-3  pt-3 shadow bg-light">
            <div class="col-sm-12 mt-2">
                <div class="card bordered">
                  <div class="card-header bg-info"></div>
                  <div class="card-body">
                    <h5 class="card-title text-center">
                    <a href="{{url_for(url)}}">0{{nombre}} Requete(s)</a>  
                    </h5>
                  </div>
                </div>
              </div>
            <div class="col-sm-12 mt-2">
                <div class="card">
                  <div class="card-header bg-warning text-light"></div>
                  <div class="card-body">
                    <h5 class="card-title text-center"><a href="{{url_for(url, statut='valider')}}">0{{valider|length}} Valider</a></h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 mt-2">
                <div class="card">
                  <div class="card-header bg-success text-light"></div>
                  <div class="card-body">
                    <h5 class="card-title text-center"><a href="{{url_for(url, statut='terminer')}}">0{{ terminer|length}} Terminer</a></u></h5>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% for req in requetes %}
                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <div class="card-header bg-{{req.get_statut.status.color}} text-light">{{
                            req.date_engr.strftime('%d/%m/%Y %H:%M')}}</div>
                        <div class="card-body">
                            <h5 class="card-title"><a
                                    href="{{url_for('request_cc.get_admin_detail', id=req.id)}}">{{req.objet}}</a> <span
                                    class="badge bg-{{req.get_statut.status.color}}">{{req.get_statut.status.nom}}</span>
                            </h5>
                            <p class="card-text"><b>Matiere : </b> {{req.intitule_ec}}</p>

                            {% if req.get_statut.commentaire %}
                            <b>Observation : </b> {{req.get_statut.commentaire}}
                            {% endif %}

                        </div>
                    </div>
                </div>
                <br>
                {% else %}

                <div class="col-md-12 mt-2">
                    <div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
                        Aucune requete n'a ete trouver
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}