{% extends "dashboard/layout.jinja" %}
{% set page_id = 'traiter' %}

{% block custom_css %}
  <link href="{{ url_for('request_cc.static', filename='style.css')}}" rel="stylesheet">
{% endblock %}

{% block page_header %}
    <h3>{{ _('Details requete') }} {{ requete.id }}</h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Home') }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('request_cc.get_teacher') }}">{{ _('Traitement') }}</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Requete {{ requete.id }}</li>
      </ol>
    </nav>
{% endblock %}

{% block page_main %}
<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-md-10">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="col-sm-12  shadow mt-2" style="border-radius:16px">
        <div class="card ">
          <!-- bg-{{requete.get_color}} -->
          <div class="card-header bg-{{requete.get_statut.status.color}} text-light">Date de depot :
            {{requete.date_engr.strftime('%d/%m/%Y %H:%M')}}</div>
          <div class="card-body">
            <h5 class="card-title">{{requete.objet}} <span
                class="badge bg-{{requete.get_statut.status.color}} text-white">{{requete.get_statut.status.nom}}</span>
            </h5>
            <p class="card-text">
              {% if requete.description %}
              </b>{{requete.description}}</p>
              {% endif %}
              <p class="card-text">
               <b>Etudiant</b> :({{student.id}}) {{student.nom}} ({{student.classe}})
              </p>
            <p class="card-text">
              <b>Matiere : </b>{{requete.intitule_ec}} <br>

              <b> piece jointe</b> :
              {% if requete.piece %}
              <a href="{{ url_for('request_cc.ouvrir_fichier', id=requete.id) }}" target="_blank"> <span
                  class="badge rounded-pill bg-info">Ouvrir</span></a>
              {% else %}
              <span class="badge rounded-pill bg-info">Aucune</span>
              {% endif %}
              <br>
              <b> Justificatif</b> : <span class="badge rounded-pill bg-info">{{justificatifs|length}}</span>

              {% if requete.get_statut.commentaire %}
              <br>
              <b> Observation : </b> {{requete.get_statut.commentaire}}
              {% endif %}
              <br>
              <!-- {% if requete.date_fin %} -->
              <b>Date:</b> {{requete.get_statut.date_tr.strftime('%d/%m/%Y %H:%M')}}
              <!-- {% else %}
              <b>Date de fin : </b> <span class="badge rounded-pill bg-info">en cours</span>
              {% endif %} -->
            </p>
          </div>
          <div class="card-footer">
            {% if requete.get_statut.status.nom == 'terminer' or requete.get_statut.status.nom == 'rejeter' %}
            {% else %}
            <button type="button" class="btn btn-warning text-light" data-bs-toggle="modal"
              data-bs-target="#traitement">Traitement
            </button>
            {% endif %}
            {% include "includes/traitement.jinja" %}

            <!-- {% if requete.get_statut.status.nom == 'suspendu' %}
            <button type="button" class="btn btn-warning text-light" data-bs-toggle="modal"
              data-bs-target="#addjustifi">Approuver
            </button>
            <button type="button" class="btn btn-danger text-light" data-bs-toggle="modal"
              data-bs-target="#addjustifi">Rejeter
            </button>
            {% endif %}

            {% if requete.get_statut.status.nom == 'en attente' %}
            <button type="button" class="btn btn-warning text-light" data-bs-toggle="modal"
              data-bs-target="#addjustifi">Approuver
            </button>
            <button type="button" class="btn btn-secondary text-light" data-bs-toggle="modal"
              data-bs-target="#addjustifi">Suspendre
            </button>
            <button type="button" class="btn btn-danger text-light" data-bs-toggle="modal"
              data-bs-target="#addjustifi">Rejeter
            </button>
            {% endif %} -->
          </div>
        </div>
      </div>


      <!-- justificatifs -->
      <div class="col-sm-12 shadow mt-2" style="border-radius:16px">
        {% if justificatifs %}
        {% include "includes/list-justificatif.jinja" %}
        {% endif %}
      </div>

      <!-- traitements -->
      <div class="col-sm-12 shadow mt-2" style="border-radius:16px">
        {% if traitements %}
        {% include "includes/list-traitements.jinja" %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block page_authors %}
    <a href="">Nana, </a>
    <a href="">Makouho</a>
  {% endblock %}