{% extends "landing/layout.jinja" %}
{% set page_id = 'footer_lg_pg' %}
{% set footer_size = 'lg'%}

{% block page_sections %}
<section>
    <div>{{ _('Page avec un pied de page <b>lg</b>') }}</div>
</section>
{% endblock %}