{% extends "landing/layout.jinja" %}
{% set page_id = 'footer_sm_pg' %}
{% set footer_size = 'sm'%}

{% block page_sections %}
<section>
    <div>{{ _('Page avec un pied de page <b>sm</b>') }}</div>
</section>
{% endblock %}
