{% extends "landing/layout.jinja" %}
{% set page_id = 'footer_authors_pg' %}

{% block page_authors %}
    <a>Author x,</a>
    <a>Author Y,</a>
    <a>Author Z,</a>
    <a>Author AHA,</a>
{% endblock %}