{% extends "landing/layout.jinja" %}
{% set page_id = 'footer_md_pg' %}
{% set footer_size = 'md'%}

{% block page_sections %}
<section>
    <div>{{ _('Page avec un pied de page <b>md</b>') }}</div>
</section>
{% endblock %}
