
{% extends "landing/layout.jinja" %}
{% set hero_size = 'xs' %}
{% set footer_size = 'sm' %}

{% block page_meta %}
  <title>{{ title }} | ENSET Douala</title>
{% endblock %}

{% block page_sections %}
<div class="message container d-flex flex-column justify-content-center h-100">
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <div class="message-icon my-3">
                <h2><i class="bi bi-check-circle"></i></h2>                
            </div>
            <h4 class="message-title">{{ title }}</h4>            
            <p class="message-content py-1">{{ message | safe }}</p>        
            <div class="d-flex justify-content-start my-0">
                <div class="d-flex flex-column justify-content-start align-items-start my-0">
                {% if actions %}
                    {% for action in actions %}
                        <a href="{{ url_for_entry(action) }}" class="btn btn-link px-0">
                            <h6>{{ action.text }}<i class="bi bi-arrow-right mx-1"></i></h6>
                        </a>
                    {% endfor %}
                {% endif %}
                </div>
            </div>  
        </div>
    </div>    
</div>
{% endblock %}
   