{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'admin_preins_info_pg' %}
{% from 'preins-macros.jinja' import render_info_div, render_messages, render_info_actions %}


{% block page_header %}
  <h1>{{ _('Details Inscription ') + inscription.admission.id }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>      
      <li class="breadcrumb-item"><a href="{{ previous }}">{{ _('Inscriptions') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ inscription.admission.id }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">

        <!-- Alertes -->
        {{ render_messages() }}

        <!-- Actions initiales -->
        {{ render_info_actions(mode="debug", search_id=inscription.id)}}

        <!-- fields -->
        <form class="col-lg-10 col-12">
            {{ render_info_div(inscription) }}
        </form>

        <!-- Actions finales -->
        {{ render_info_actions(mode="debug")}}

    </section>
</div>
{% endblock %}


{% block page_authors%} 
    <a>Malcom C. Penda - </a>
    <a>Kelojoh Kamwoua M. D.</a>
{% endblock %}

