{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'preins_info_pg' %}

{% block page_header %}
  <h1>{{ _('Fiche Preinscription') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Preinscription') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
    
        <!-- Alertes -->
        {% if message %}
        <div class="alert alert-{{ message.type }} alert-dismissible fade show" role="alert">
            {{ message.text }}
            <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
        </div>
        {% endif %}

        <!-- Actions initiales -->
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <a href="{{ url_for('preins.edit_info') }}" class="btn btn-secondary btn-lg m-1">Modifier la fiche</a>
                <a href="{{ url_for('preins.print_info') }}" class="btn btn-primary btn-lg m-1">Imprimer la fiche</a>
            </div>
        </div><!-- End Actions initiales -->

        <form class="col-lg-10 col-12">
                    
            {{ form.csrf_token }}

            <div class="row">
                {% if form.errors %}
                <div class="col-12 p-3">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ form.errors }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                </div>
                {% endif %}
            </div>

            <!-- Info generales -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-3 mb-0">1. Informations personnelles</h6>                        
                        <div class="col-12">
                            {{ form.nom.label(class_="form-label")}}
                            {{ form.nom(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-12">
                            {{ form.prenom.label(class_="form-label")}}
                            {{ form.prenom(class_="form-control", disabled=true) }}
                        </div>                
                        <div class="col-lg-4 col-10">
                            {{ form.date_naissance.label(class_="form-label")}}
                            {{ form.date_naissance(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-8 col-10">
                            {{ form.lieu_naissance.label(class_="form-label")}}
                            {{ form.lieu_naissance(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-4 col-10">
                            {{ form.sexe.label(class_="form-label")}}
                            {{ form.sexe(class_="form-select", disabled=true) }}
                        </div>
                        <div class="col-lg-4 col-10">
                            {{ form.situation_matrimoniale.label(class_="form-label")}}
                            {{ form.situation_matrimoniale(class_="form-select", disabled=true) }}
                        </div>
                    </div>
                </div>
            </div>  <!-- End Info generales -->

            <!-- Origine géographique -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">2. Origine géographique</h6>
                        <div class="col-lg-6 col-10">
                            {{ form.langue.label(class_="form-label")}}
                            {{ form.langue(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.nationalite.label(class_="form-label")}}
                            {{ form.nationalite(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.region_origine.label(class_="form-label")}}
                            {{ form.region_origine(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.departement_origine.label(class_="form-label")}}
                            {{ form.departement_origine(class_="form-control", disabled=true) }}
                        </div>
                    </div>
                </div>
            </div> <!-- End Origine géographique -->
            
            <!-- Coordonnées -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">3. Coordonnées</h6>
                        <div class="col-lg-6 col-10">
                            {{ form.telephone.label(class_="form-label")}}
                            {{ form.telephone(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.email.label(class_="form-label")}}
                            {{ form.email(class_="form-control", disabled=true) }}
                        </div>
                    </div>
                </div>
            </div> <!-- End Coordonnées -->
            
            <!-- Informations académiques -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">4. Informations académiques</h6>
                        <div class="col-12">
                            {{ form.departement_academique.label(class_="form-label")}}
                            {{ form.departement_academique(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-12">
                            {{ form.option.label(class_="form-label")}}
                            {{ form.option(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-8 col-10">
                            {{ form.niveau.label(class_="form-label")}}
                            {{ form.niveau(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-8 col-10">
                            {{ form.diplome.label(class_="form-label")}}
                            {{ form.diplome(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-4 col-10">
                            {{ form.annee_diplome.label(class_="form-label")}}
                            {{ form.annee_diplome(class_="form-control", disabled=true) }}
                        </div>
                    </div>
                </div>
            </div> <!-- End Informations académiques -->
            

            <!-- Informations sur le père -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">5. Informations sur le père</h6>
                        <div class="col-lg-6 col-10">
                            {{ form.nom_pere.label(class_="form-label")}}
                            {{ form.nom_pere(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.profession_pere.label(class_="form-label")}}
                            {{ form.profession_pere(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.telephone_pere.label(class_="form-label")}}
                            {{ form.telephone_pere(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.ville_residence_pere.label(class_="form-label")}}
                            {{ form.ville_residence_pere(class_="form-control", disabled=true) }}
                        </div>  
                    </div>
                </div>
            </div> <!-- End Informations sur le père -->
            

            <!-- Informations sur la mère -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">6. Informations sur la mère</h6>
                        <div class="col-lg-6 col-10">
                            {{ form.nom_mere.label(class_="form-label")}}
                            {{ form.nom_mere(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.profession_mere.label(class_="form-label")}}
                            {{ form.profession_mere(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.telephone_mere.label(class_="form-label")}}
                            {{ form.telephone_mere(class_="form-control", disabled=true) }}
                        </div>
                        <div class="col-lg-6 col-10">
                            {{ form.ville_residence_mere.label(class_="form-label")}}
                            {{ form.ville_residence_mere(class_="form-control", disabled=true) }}
                        </div>
                    </div>
                </div>
            </div> <!-- End Informations sur la mère -->

        </form>
        
        <!-- Actions finales -->
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <a href="{{ url_for('preins.edit_info') }}" class="btn btn-secondary btn-lg m-1">Modifier la fiche</a>
                <a href="{{ url_for('preins.print_info') }}" class="btn btn-primary btn-lg m-1">Imprimer la fiche</a>
            </div>
        </div><!-- End Actions finales -->

    </section>
</div>
{% endblock %}

{% block vendor_js %}
    <script src="{{ url_for('static', filename='vendor/jquery-3.6.0.min.js') }}"></script>  
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for('preins.static', filename='js/info.js') }}"></script>
{% endblock %}

