{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'preins_error_pg' %}

{% block page_header %}
  <h1>{{ _('Requete Inscription') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('preins.info') }}">{{ _('Inscription') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Requete') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">

        <!-- Alertes -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show my-1" role="alert">
                        {{ message }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}


        <!-- Actions initiales -->
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <a href="{{ url_for('preins.edit_error') }}" class="btn btn-secondary btn-lg m-1">Modifier la requete</a>
                <a href="{{ url_for('preins.print_error') }}" class="btn btn-primary btn-lg m-1">Imprimer la requete</a>
            </div>
        </div><!-- End Actions initiales -->

        <form class="col-lg-10 col-12">
            
            <!-- Erreur Identite -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">A. Erreur sur l'identité</h6>
                        <div class="col-12">
                            <label for="nom_admis" class="form-label">Noms et prénoms sur le communiqué</label>
                            <input type="text" class="form-control" disabled id="nom_admis" 
                                   value="{{ requete.admission.nom_complet }}">
                        </div>
                        <div class="col-12">
                            <label for="nom_correct" class="form-label">Noms et prénoms corrigés</label>
                            <input type="text" class="form-control" disabled id="nom_correct" 
                                   value="{{ requete.nom_correct }}">
                        </div>
                    </div>
                </div>
            </div> <!-- End Erreur Identite -->
            

            <!-- Erreur Filiere/Niveau  -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">B. Erreur sur l'option / le niveau</h6>
                        <div class="col-lg-6 col-10">
                            <label for="filiere_admis" class="form-label">Option sur le communiqué</label>
                            <input type="text" class="form-control" disabled id="filiere_admis" 
                                   value="{{ requete.admission.classe.filiere.nom }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="filiere_correct" class="form-label">Option corrigée</label>
                            <input type="text" class="form-control" disabled id="filiere_correct" 
                                   value="{{ requete.filiere_correct.nom }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="niveau_admis" class="form-label">Niveau sur le communiqué</label>
                            <input type="text" class="form-control" disabled id="niveau_admis" 
                                   value="{{ requete.admission.classe.niveau.nom }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="niveau_correct" class="form-label">Niveau corrigée</label>
                            <input type="text" class="form-control" disabled id="niveau_correct" 
                                   value="{{ requete.niveau_correct.nom }}">
                        </div>  
                    </div>
                </div>
            </div> <!-- End Erreur Filiere/Niveau -->

            <!-- Pieces justificatifs  -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">C. {{ _('Pièces justificatives') }}</h6>
                        <div class="col-12">
                            <textarea class="form-control" rows="3" disabled style="text-align: left !important;"> 
                                {{ requete.justificatifs }}
                            </textarea>
                        </div> 
                    </div>
                </div>
            </div> <!-- End Pieces justificatifs -->

        </form>

        <!-- Actions finales -->
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <a href="{{ url_for('preins.edit_error') }}" class="btn btn-secondary btn-lg m-1">Modifier la requete</a>
                <a href="{{ url_for('preins.print_error') }}" class="btn btn-primary btn-lg m-1">Imprimer la requete</a>
            </div>
        </div><!-- End Actions finales -->

    </section>
</div>
{% endblock %}


{% block page_authors%} 
    <a>Malcom C. Penda</a>
{% endblock %}