{% extends "login/layout.jinja" %}
{% set head_title='Inscription' %}

{% block custom_css %}
    <link href="{{ url_for('preins.static', filename='css/form.css') }}" rel="stylesheet">
{% endblock %}

{% block page_form %}
<form class="login-form container d-flex flex-column align-items-center" 
    method="POST" action="{{ url_for('preins.request_', next=next) }}">

    {{ form.csrf_token }}

    <!-- Header -->
    <div class="row w-100 pt-5 pb-4 d-flex justify-content-center">
        <div class="col-10 text-center">
            <h4>{{ _("Decrivez uniquement les erreurs constatées") }}</h4>
        </div>
    </div>

    <!-- Fields -->
    <div class="row w-100 d-flex justify-content-center">
        <div class="col-lg-9 col-10">
            <div class="row g-3">
                <span class="text-danger pt-3 pb-3">Erreur sur l'identite:</span>
                <div class="col-lg-6 col-12">
                    {{ form.nom_admis.label(class_="form-label")}}
                    {{ form.nom_admis(class_="form-control") }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.nom_correct.label(class_="form-label")}}
                    {{ form.nom_correct(class_="form-control") }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.prenom_admis.label(class_="form-label")}}
                    {{ form.prenom_admis(class_="form-control") }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.prenom_correct.label(class_="form-label")}}
                    {{ form.prenom_correct(class_="form-control") }}
                </div>
            </div>
            
            <div class="row g-3">
                <span class="text-danger pt-5 pb-3">Erreur sur la filiere:</span>
                <div class="col-lg-6 col-12">
                    {{ form.option_admis.label(class_="form-label")}}
                    {{ form.option_admis(class_="form-select") }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.option_correct.label(class_="form-label")}}
                    {{ form.option_correct(class_="form-select") }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.niveau_admis.label(class_="form-label")}}
                    {{ form.niveau_admis(class_="form-select") }}
                </div>
                <div class="col-lg-6 col-12">
                    {{ form.niveau_correct.label(class_="form-label")}}
                    {{ form.niveau_correct(class_="form-select") }}
                </div>
            </div>
        </div>
    </div><!-- End Fields -->
  
    <!-- Buttons -->
    <div class="btn-group d-flex flex-row-reverse pt-5">
        <div>
            <button type="reset" class="btn btn-secondary">Annuler</button>
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </div>
    </div><!-- End Buttons -->

</form>
{% endblock %}

{% block custom_js %}
  <script src="{{ url_for('preins.static', filename='js/form.js') }}"></script>
{% endblock %}

{% block page_authors %}
    <a>Nana & Makouhou</a>
{% endblock %}