{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'preins_info_pg' %}

{% block page_header %}
  <h1>{{ _('Fiche Inscription') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Inscription') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
    
        <!-- Alertes -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}

        <!-- Actions initiales -->
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <a href="{{ url_for('preins.edit_info') }}" class="btn btn-secondary btn-lg m-1">Modifier la fiche</a>
                <a href="{{ url_for('preins.print_info') }}" class="btn btn-primary btn-lg m-1">Imprimer la fiche</a>
            </div>
        </div><!-- End Actions initiales -->

        <form class="col-lg-10 col-12">

            <!-- Info generales -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-3 mb-0">1. Informations personnelles</h6> 
                        <div class="col-lg-12 col-10">
                            <label for="matricule" class="form-label">Matricule</label>
                            <input type="text" class="form-control" disabled id="matricule" 
                                   value="{{ inscription.admission.matricule }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="nom" class="form-label">Noms</label>
                            <input type="text" class="form-control" disabled id="nom" 
                                   value="{{ inscription.nom }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="prenom" class="form-label">Prenoms</label>
                            <input type="text" class="form-control" disabled id="prenom" 
                                   value="{{ inscription.prenom }}">
                        </div>                
                        <div class="col-lg-4 col-10">
                            <label for="date_naissance" class="form-label">Date de naissance</label>
                            <input type="text" class="form-control" disabled id="date_naissance" 
                                   value="{{ inscription.date_naissance }}">
                        </div>
                        <div class="col-lg-8 col-10">
                            <label for="lieu_naissance" class="form-label">Lieu de naissance</label>
                            <input type="text" class="form-control" disabled id="lieu_naissance" 
                                   value="{{ inscription.date_naissance }}">
                        </div>
                        <div class="col-lg-4 col-10">
                            <label for="sexe" class="form-label">Sexe</label>
                            <input type="text" class="form-control" disabled id="sexe" 
                                   value="{{ inscription.sexe }}">
                        </div>
                        <div class="col-lg-4 col-10">
                            <label for="situation_matrimoniale" class="form-label">Situation Matrimoniale</label>
                            <input type="text" class="form-control" disabled id="situation_matrimoniale" 
                                   value="{{ inscription.situation_matrimoniale }}">
                        </div>
                    </div>
                </div>
            </div>  <!-- End Info generales -->

            <!-- Origine géographique -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">2. Origine géographique</h6>
                        <div class="col-lg-6 col-10">
                            <label for="langue" class="form-label">Langue</label>
                            <input type="text" class="form-control" disabled id="langue" 
                                   value="{{ inscription.langue }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="nationalite" class="form-label">Nationalité</label>
                            <input type="text" class="form-control" disabled id="nationalite" 
                                   value="{{ inscription.departement_origine.region.pays.nom }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="region_origine" class="form-label">Region d'origine</label>
                            <input type="text" class="form-control" disabled id="region_origine" 
                                   value="{{ inscription.departement_origine.region.nom }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="departement_origine" class="form-label">Departement d'origine</label>
                            <input type="text" class="form-control" disabled id="departement_origine" 
                                   value="{{ inscription.departement_origine.nom }}">
                        </div>
                    </div>
                </div>
            </div> <!-- End Origine géographique -->
            
            <!-- Coordonnées -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">3. Coordonnées</h6>
                        <div class="col-lg-6 col-10">
                            <label for="telephone" class="form-label">Téléphone</label>
                            <input type="text" class="form-control" disabled id="telephone" 
                                   value="{{ inscription.telephone }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" disabled id="email" 
                                   value="{{ inscription.email }}">
                        </div>
                    </div>
                </div>
            </div> <!-- End Coordonnées -->
            
            <!-- Informations académiques -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">4. Informations académiques</h6>
                        <div class="col-12">
                            <label for="departement_academique" class="form-label">Departement</label>
                            <input type="text" class="form-control" disabled id="departement_academique" 
                                   value="{{ inscription.admission.classe.filiere.departement.nom }}">
                        </div>
                        <div class="col-12">
                            <label for="option" class="form-label">Option</label>
                            <input type="text" class="form-control" disabled id="option" 
                                   value="{{ inscription.admission.classe.filiere.nom }}">
                        </div>
                        <div class="col-lg-8 col-10">
                            <label for="niveau" class="form-label">Niveau</label>
                            <input type="text" class="form-control" disabled id="niveau" 
                                   value="{{ inscription.admission.classe.niveau.nom }}">
                        </div>
                        <div class="col-lg-8 col-10">
                            <label for="diplome" class="form-label">Diplôme d'entrée</label>
                            <input type="text" class="form-control" disabled id="diplome" 
                                   value="{{ inscription.diplome }}">
                        </div>
                        <div class="col-lg-4 col-10">
                            <label for="annee_diplome" class="form-label">Année d'obtention</label>
                            <input type="text" class="form-control" disabled id="annee_diplome" 
                                   value="{{ inscription.annee_diplome }}">
                        </div>
                    </div>
                </div>
            </div> <!-- End Informations académiques -->
            

            <!-- Informations sur le père -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">5. Informations sur le père</h6>
                        <div class="col-lg-6 col-10">
                            <label for="nom_pere" class="form-label">Nom du pere</label>
                            <input type="text" class="form-control" disabled id="nom_pere" 
                                   value="{{ inscription.nom_pere }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="profession_pere" class="form-label">Profession du pere</label>
                            <input type="text" class="form-control" disabled id="profession_pere" 
                                   value="{{ inscription.profession_pere }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="telephone_pere" class="form-label">Téléphone du pere</label>
                            <input type="text" class="form-control" disabled id="telephone_pere" 
                                   value="{{ inscription.telephone_pere }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="residence_pere" class="form-label">Residence du pere</label>
                            <input type="text" class="form-control" disabled id="residence_pere" 
                                   value="{{ inscription.residence_pere }}">
                        </div>  
                    </div>
                </div>
            </div> <!-- End Informations sur le père -->
            

            <!-- Informations sur la mère -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="row g-3">
                        <h6 class="card-title mx-1 mt-4 mb-0">6. Informations sur la mère</h6>
                        <div class="col-lg-6 col-10">
                            <label for="nom_mere" class="form-label">Nom du mere</label>
                            <input type="text" class="form-control" disabled id="nom_mere" 
                                   value="{{ inscription.nom_mere }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="profession_mere" class="form-label">Profession du mère</label>
                            <input type="text" class="form-control" disabled id="profession_mere" 
                                   value="{{ inscription.profession_mere }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="telephone_mere" class="form-label">Téléphone du mère</label>
                            <input type="text" class="form-control" disabled id="telephone_mere" 
                                   value="{{ inscription.telephone_mere }}">
                        </div>
                        <div class="col-lg-6 col-10">
                            <label for="residence_mere" class="form-label">Residence du mère</label>
                            <input type="text" class="form-control" disabled id="residence_mere" 
                                   value="{{ inscription.residence_mere }}">
                        </div>  
                    </div>
                </div>
            </div> <!-- End Informations sur la mère -->

        </form>
        
        <!-- Actions finales -->
        <div class="row mt-3 d-flex justify-content-center">
            <div class="col-lg-6 col-12 d-flex justify-content-center">
                <a href="{{ url_for('preins.edit_info') }}" class="btn btn-secondary btn-lg m-1">Modifier la fiche</a>
                <a href="{{ url_for('preins.print_info') }}" class="btn btn-primary btn-lg m-1">Imprimer la fiche</a>
            </div>
        </div><!-- End Actions finales -->

    </section>
</div>
{% endblock %}


