{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'preins_info_pg' %}
{% from 'preins-macros.jinja' import render_info_div, render_messages %}



{% block page_header %}
  <h1>{{ _('Fiche Inscription') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Inscription') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
    
        <!-- Alertes -->
        {{ render_messages() }}

        <!-- Actions initiales -->
        <div class="row mt-3 d-flex justify-content-center">
          <div class="col-lg-6 col-12 d-flex justify-content-center">
            <a href="{{ url_for('preins.edit_info') }}" class="btn btn-secondary btn-lg m-1">Modifier la fiche</a>
            <a href="{{ url_for('preins.print_info') }}" class="btn btn-primary btn-lg m-1">Imprimer la fiche</a>
          </div>
        </div>

        <!-- fields -->
        <form class="col-lg-10 col-12">
            {{ render_info_div(inscription) }}
        </form>
        
        <!-- Actions finales -->
        <div class="row mt-3 d-flex justify-content-center">
          <div class="col-lg-6 col-12 d-flex justify-content-center">
            <a href="{{ url_for('preins.edit_info') }}" class="btn btn-secondary btn-lg m-1">Modifier la fiche</a>
            <a href="{{ url_for('preins.print_info') }}" class="btn btn-primary btn-lg m-1">Imprimer la fiche</a>
          </div>
        </div>

    </section>
</div>
{% endblock %}


{% block page_authors%} 
    <a>Malcom C. Penda - </a>
    <a>Kelojoh Kamwoua M. D.</a>
{% endblock %}

