{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'preins_info_pg' %}
{% from 'preins-macros.jinja' import render_info_form, render_messages %}

{% block page_header %}
  <h1>{{ _('Nouvelle Fiche Inscription') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('preins.info') }}">{{ _('Inscription') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Creation') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
    <section class="section row g-4 pt-0">
    
        <!-- Alertes -->
        {{ render_messages() }}

        <form class="col-lg-10 col-12 needs-validation" novalidate 
              method="POST" action="{{ url_for('preins.new_info') }}">
                    
            {{ form.csrf_token }}

            <!-- Actions initiales -->
            <div class="row mt-3 g-3">
                <div class="text-center">
                    <a href="{{ url_for('home.dashboard') }}" class="btn btn-secondary btn-lg m-1">Annuler l'inscription</a>
                </div>
            </div>

            <!-- fields -->
            {{ render_info_form(form, mode='new')}}

            <!-- Actions finales -->
            <div class="row mt-3 g-3">
                <div class="text-center">
                    <a href="{{ url_for('home.dashboard') }}" class="btn btn-secondary btn-lg m-1">Annuler l'inscription</a>
                    <button type="submit" class="btn btn-primary btn-lg m-1">Valider l'inscription</button>
                </div>
            </div>
            
        </form>
    </section>
</div>
{% endblock %}

{% block vendor_js %}
    <script src="{{ url_for('static', filename='vendor/jquery-3.6.0.min.js') }}"></script>  
{% endblock %}

{% block custom_js %}
    <script src="{{ url_for('preins.static', filename='js/preins-info-new.js') }}"></script>
{% endblock %}

{% block page_authors%} 
    <a>Malcom C. Penda - </a>
    <a>Kapsoh Njipguep A. K.</a>
{% endblock %}
