{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'admin_preins_info_pg' %}
{% from 'preins-macros.jinja' import render_pagination, render_messages %}

{% block vendor_css %}
    <link href="{{ url_for('static', filename='vendor/basictable/basictable.min.css')}}" rel="stylesheet" type="text/css" />
    <script src="{{ url_for('static', filename='vendor/basictable/basictable.min.js')}}" type="text/javascript"></script>
{% endblock %}

{% block custom_css %}
    <link href="{{ url_for('preins.static', filename='css/table.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block page_header %}
  <h1>{{ _('Inscriptions') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Inscriptions') }}</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container">
  <section class="section row g-4">
    <!-- Table with stripped rows -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ title }}</h5>
          {{ render_messages() }}
          {% if records.items %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>No</th>
                    <th>Code</th>
                    <th>Noms</th>
                    <th>Classe</th>
                    <th>Matricule</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for inscription in records.items %}
                  <tr {% if inscription.modified %}class="text-decoration-line-through"{% endif %} >
                      <td>{{ records.page + loop.index - 1 }}</td>
                      <td>{{ inscription.admission.id }}</td>
                      <td>{{ inscription.nom_complet }}</td>
                      <td>{{ inscription.admission.classe_id }}</td>
                      <td>{{ inscription.admission.matricule}}</td>
                      <td>{{ inscription.date_inscription.strftime('%d-%m-%Y')}}</td>
                      <td>
                        <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('preins.search_info', search_id=inscription.id)}}">Details</a>
                        <a class="btn btn-secondary btn-sm" role="button" href="{{ url_for('preins.debug_info', search_id=inscription.id)}}">Corriger</a>
                        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('preins.clean_info', search_id=inscription.id)}}">Supprimer</a>
                      </td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ render_pagination(records)}}
          {% else %}
            <div class="text-warning">
              <i class="bi bi-exclamation-triangle ms-2 me-1"></i>
              Aucune inscriptions trouvees
            </div>
          {% endif %}
        </div>
      </div>
    </div><!-- End Table with stripped rows -->
  </section>   
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
  const table = new basictable('.table');
</script>
{% endblock %}