<!-- templates/emails/email_template.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      }
      .button a{
        color:white
      } 
    
    .footer {
      margin-top: 30px;
      padding-top: 10px;
      border-top: 1px solid #ccc;
      color: #555;
      font-size: 14px;
    }
  </style>
</head>
<body>
    <h2>Taitement de la requete</h2>
    <p>Bonjour M./Mme {{ student.nom}},</p>
    <p><strong>Observation :</strong> {{ requete.observation }} </p>
    <p>{{commentaire}}</p>
    <p>Votre requete a ete {{statut}}.</p>
    <p><strong>Objet :</strong> {{ requete.objet }}</p>
    <p><strong>Matiere :</strong> {{ requete.intitule_ec }}</p>
    <p><strong>Date :</strong> {{ requete.date_engr.strftime('%d/%m/%Y %H:%M') }}</p>
    <br/>
    <a href="{{urls}}" class="button" style="color: white;">Gérer la requête</a>
  <div class="footer">
    --<br>
    Administration ENSET Douala
  </div>
</body>
</html>
