
{# Brand of website #}
{% macro brand(user) %}
  <a class="logo d-flex flex-nowrap align-items-center me-4" href="{{ url_for('home.index') }}">
    <img src="{{ url_for('static', filename='landing/assets/img/logo.png') }}" alt="">
    <div class>
    </div>
    <div class="d-flex align-items-end justify-content-start">
      <h1 class="sitename text-nowrap">{{ user.id | upper }}</h1>
      <i class="bi bi-circle-fill"></i>
    </div>
  </a>
{% endmacro %}


{% macro coming_soon_section(title, deadline, id="") %}
<section id="{{ id }}" class="coming-soon section">
    {{ section_title(title, subtitle = title + _(" <strong>(En construction)</strong>"))}}    
    <div class="container coming-soon-content">
        <div class="row gy-1">
            <div class="col-12">
                {{ _('Cette section est en cours de maintenance ou de developpement. Elle sera disponible dans:') }}
            </div>
            <div class="col-12 countdown" data-count="{{ deadline }}">
                <i class="me-2 bi bi-clock"></i>
                <span><em class="count-days">0</em> {{_('jours,')}}</span> 
                <span><em class="count-hours">0</em> {{_('heures,')}}</span>
                <span><em class="count-minutes">0</em> {{_('minutes et')}}</span>
                <span><em class="count-seconds">0</em> {{_('secondes.')}}</span>
            </div>
        </div>
    </div>
  </section>
{% endmacro %}

{% macro nav_item_icon(entry) %}
  {% if entry.icon %}
    <i class="{{ entry.icon }}"></i>
  {% else %}
    {% if entry.children|length == 0 %}
      <i class="bi bi-check-square-fill"></i>
    {% else%}
      {# <i class="bi bi-layers-fill"></i> #}
      <i class="bi bi-slash-square-fill"></i>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro nav_item(user, entry, active='') %}
  {% if user.has_roles(entry.accepted)%}
    {% if entry.children|length == 0 %}
      <li class="nav-item {% if entry.id == active %} active {% endif %}">
        {% if entry.endpoint %}
          <a class="nav-link" href="{{ url_for(entry.endpoint) }}">
            {{ nav_item_icon(entry) }} <span>{{ entry.text }}</span>
          </a>
        {% elif entry.url %}
          <a class="nav-link" href="{{ entry.url }}">
            {{ nav_item_icon(entry) }} <span>{{ entry.text }}</span>
          </a>
        {% else %}
          <a class="nav-link" href="#">
            {{ nav_item_icon(entry) }} <span>{{ entry.text }}</span>
          </a>
        {% endif %}
      </li>
    {% else %}
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#{{ entry.id }}" data-bs-toggle="collapse" href="#">
          {{ nav_item_icon(entry) }} <span>{{ entry.text }}</span>
          <i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="{{ entry.id }}" class="nav-content collapse " data-bs-parent="#{{ entry.parentid }}">
          {% for child in entry.children %}
            {{ nav_item(user, child, active=active) }}
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endif %}
{% endmacro %}

{# Menu of Sidebar #}
{% macro sidebar(user, active='', name='sidebar') %}
  {{ brand(user) }}
  <ul class="sidebar-nav" id="sidebar-nav">
    {% for entry in menus[name].children %}
      {{ nav_item(user, entry, active=active) }}
    {% endfor %}
    <li class="ms-auto mt-4 special-links w-100">
      {{ special_links(user) }}
    </li>
  </ul>
{% endmacro %}

{% macro special_links(user) %}
  <a class="btn btn-secondary m-1 px-4" href="{{ url_for('home.index') }}"><i class="bi bi-at me-1"></i>ENSET</a>
  {% if user and user.is_authenticated %}
      <a class="btn btn-primary m-1" href="{{ url_for('home.logout', next=request.path) }}">{{ _('Deconnexion') }}</a>
  {% else %}        
      <a class="btn btn-danger m-1" href="{{ url_for('home.login', next=request.path) }}">{{ _('Connexion') }}</a>
  {% endif %}
{% endmacro %}

{% macro custom_file(id, text) %}
  <input type="file" name="{{ id }}" id="{{ id }}" class="custom-file" />
  <label class="d-flex justify-content-center" for="{{ id }}">
    <i class="bi bi-upload me-2"></i> 
    <span class="me-2">{{ text }}</span>
  </label>
{% endmacro %}

