<div class="row">
    <div class="col-sm-12 mt-2">
      <div class="card bordered">
        <div class="card-header bg-info"></div>
        <div class="card-body">
          <h5 class="card-title text-center">
          <a href="{{url_for(url)}}">0{{nombre}} Requete(s)</a>  
          </h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-secondary text-light"></div>
        <div class="card-body"> 
          <h5 class="card-title text-center"> <a href="{{url_for(url, statut='en attente')}}"> 0{{debut|length}} en attente</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-warning text-light"></div>
        <div class="card-body">
          <h5 class="card-title text-center"> <a href="{{url_for(url, statut='approuver')}}"> 0{{approuver|length}} Approuver</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-dark text-light"></div>
        <div class="card-body">
          <h5 class="card-title text-center"><a href="{{url_for(url, statut='suspendu')}}"> 0{{suspendu|length}} Suspendu</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-danger text-light"></div>
        <div class="card-body">
          <h5 class="card-title text-center"><a href="{{url_for(url, statut='rejeter')}}">0{{rejeter|length}} Rejeter</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-warning text-light"></div>
        <div class="card-body">
          <h5 class="card-title text-center"><a href="{{url_for(url, statut='valider')}}">0{{valider|length}} Valider</a></h5>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mt-2">
      <div class="card">
        <div class="card-header bg-success text-light"></div>
        <div class="card-body">
          <h5 class="card-title text-center"><a href="{{url_for(url, statut='terminer')}}">0{{ terminer|length}} Terminer</a></u></h5>
        </div>
      </div>
    </div>
  </div>