<h4 class="card-title mt-2">Justificatifs</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for justificatif in justificatifs %}
        <tr>
            <td>{{justificatif.date_engr.strftime('%d/%m/%Y
                %H:%M')}}</td>
            <td>{{justificatif.libelle}}</td>
            <td><a href="{{ url_for('request_cc.ouvrir_file', id=justificatif.id) }}" target="_blank" class="btn btn-warning">consulter</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>