{% for req in requetes %}
<div class="
{% if col %}
  {{col}}
{%else%}
  col-md-12
{% endif %}
mt-2">
    <div class="card">
        <div class="card-header bg-{{req.get_statut.status.color}} text-light">{{ req.date_engr.strftime('%d/%m/%Y %H:%M')}}</div>
        <div class="card-body">
            <h5 class="card-title"><a href="{{ url_for(url, id=req.id)}}">{{req.objet}}</a> <span
                    class="badge bg-{{req.get_statut.status.color}}">{{req.get_statut.status.nom}}</span></h5>
            <p class="card-text"><b>Matiere : </b> {{req.intitule_ec}}</p>
            
            {% if req.get_statut.commentaire %}
            <b>Observation : </b> {{req.get_statut.commentaire}}
            {% endif %}
                
        </div>
    </div>
</div>
<br>
{% else %}
<div class="alert alert-info alert-dismissible fade show mt-2" role="alert">
    Aucune requete n'a ete trouver
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
