<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="traitement" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-light" id="exampleModalLabel">Traitement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" enctype="multipart/form-data">

                    <label for="inputText" class="form-label">Statut :</label>
                    <select name="statut_id" id="" required class="form-select">
                        <option value="">satut</option>
                        {% if requete.get_statut.status.nom == 'suspendu' %}
                        <option value="approuver">Approuver</option>
                        <option value="rejeter">Rejter</option>
                        <option value="suspendre">Suspendre</option>
                        {% endif %}
                        {% if requete.get_statut.status.nom == 'en attente' %}
                        <option value="approuver">Approuver</option>
                        <option value="rejeter">Rejter</option>
                        <option value="suspendre">Suspendre</option>
                        {% endif %}
                        {% if requete.get_statut.status.nom == 'approuver' %}
                        <option value="valider">Valider</option>
                        <option value="rejeter">Rejeter</option>
                        {% endif %}
                        {% if requete.get_statut.status.nom == 'valider' %}
                        <option value="terminer">Terminer</option>
                        {% endif %}
                    </select>
                    <input type="text" name="requete_id" value="{{requete.id}}" hidden required>
                    <br>
                    <label for="inputNumber" class="form-label">Obervation :</label>
                    <textarea class="form-control" name="commentaire">
                    </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="Submit" class="btn btn-primary">Envoyer</button>
            </div>
            </form>
        </div>
    </div>
</div>