<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h5 class="modal-title text-light" id="exampleModalLabel">Modifier la requete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{{url_for('request_cc.update_requete')}}" enctype="multipart/form-data">
                    <input type="hidden" name="id" value="{{requete.id}}">
                    <label for="inputText" class="form-label">Objet :</label>
                    <input type="text" value="{{requete.objet}}"  name="objet" class="form-control" required>
                    <label for="inputEmail" class="form-label">Intitule de la matiere:</label>
                    <input type="text" value="{{requete.intitule_ec}}" name="intitule_ec" class="form-control" required
                        placeholder="EC4093(securite informatique)">
                    <label for="inputPassword" class="form-label">Enseignant :</label>
                    <select class="form-select" name="responsable_id" required>
                        <option value="{{responsable.id}}">{{responsable.nom}}</option>
                        {% for teacher in teachers %}
                            <option value="{{teacher.id}}">{{teacher.nom}}</option>
                        {% endfor %}
                    </select>
                    <label for="inputNumber" class="form-label">Piece jointe :</label>
                    <input class="form-control" name="piece" type="file" id="formFile">
                    <label for="inputPassword" class="form-label">Description :</label>
                    <textarea class="form-control" name="description" style="height: 100px">
                        {{requete.description}}
                    </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="Submit" class="btn btn-primary">Modifier</button>
            </div>
            </form>
        </div>
    </div>
</div>