{% extends "dashboard/layout.jinja" %}
{% set page_id='mes-articles' %}

{% block page_header %}
  <h1>Ajouter un article</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('blog.get_all_teacher_post') }}">{{ _('Mes Articles') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Ajouter</li>
    </ol>
  </nav>
{% endblock %}

{% block page_main %}
<div class="container-fluid">
    <section class="section row g-2 pt-0">
        <div class="col-lg-6 col-md-12">
            <div class="card my-2">
              <div class="card-body">
                <h5 class="card-title">Formulaire</h5>
  
                <!-- Horizontal Form -->
                <form class="row g-3" method="post" enctype="multipart/form-data">
                  <div class="col-12">
                    <label for="titre" class="form-label">Titre</label>
                    <input type="text" class="form-control" id="titre">
                  </div>
                  <div class="col-lg-6 col-12">
                    <label for="categorie" class="form-label">Categorie</label>
                    <select id="categorie" class="form-select">
                        <option selected>Choisir...</option>
                        {% for cat in categories %}
                            <option value="{{cat.id}}">{{cat.libelle}}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="col-lg-6 col-12 d-flex flex-column justify-content-end">
                    {{ dashboard.custom_file('image', 'Choisir une image...') }}
                    {# <input type="file" class="form-control" id="image" required> #}
                  </div>
                  <div class="col-12 mt-4">
                    <label class="form-label">Description</label>
                    <!-- TinyMCE Editor -->
                    <textarea class="tinymce-editor" name="description">
                        <p>Hello World!</p>
                    </textarea><!-- End TinyMCE Editor -->
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary form-control">Poster</button>
                </form><!-- End Horizontal Form -->
  
              </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card my-2">
              <div class="card-body">
                <h5 class="card-title">Assistant IA</h5>
                <!-- IA Form -->
                <form action>
                    <label for="description"
                        class="form-label mb-3">Desciption</label>
                    <textarea name id rows="10" class="form-control mb-3"
                        required></textarea>
                    <button class="btn btn-primary mb-3">Envoyer</button>
                    <textarea name id rows="10" class="form-control mb-3" readonly>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quas sit porro blanditiis illum, harum, labore non eum, possimus sapiente debitis officia distinctio eveniet mollitia voluptatum. Laboriosam quas iusto nulla.
                    </textarea>
                </form><!-- End IA Form -->
              </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block page_authors %}
    <a href="">Fanny,</a>
    <a href="">Mx</a>
{% endblock %}