{% extends "dashboard/layout.jinja" %}
{% set page_id='mes-articles' %}

{% block custom_css %}
    <link href="{{ url_for('blog.static', filename='css/main.css') }}" rel="stylesheet">
{% endblock %}

{% block page_header %}
  <h1>Article No {{ article.id }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _('Accueil') }}</a></li>
      <li class="breadcrumb-item"><a href="{{ url_for('blog.get_all_teacher_post') }}">{{ _('Mes Articles') }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Article No {{ article.id }}</li>
    </ol>
  </nav>
{% endblock %}


{% block page_main %}
<section class="events">
    <div class="container-fluid">
        <!-- Blog posts list -->
        <div class="row gy-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            

            <div class="col-lg-10 col-md-12 mt-5">
                <div class="card shadow-sm">
                    <img src="{{url_for('blog.static', filename=article.image) }}" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title ms-0 mt-3 mb-0 ps-0 py-2">
                            <a class href="#">{{article.titre}}</a>
                        </h5>
                        <ul class="events-info mx-0 px-0">
                            <li><i class="bi bi-alarm me-1"></i>Posté le: <b>{{article.date.strftime('%d/%m/%Y %H:%M')}}</b></li>
                            <li><i class="bi bi-bell me-1"></i>Statut: <b class="text-{{article.color}}">{{article.statut}}</b></li>
                        </ul>
                        <p>{{article.description}}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        {% if article.statut == "en attente" or article.statut == "rejeté" %}
                            <a href="#" class="btn btn-secondary mx-1">modifier</a>
                        {% endif %}
                        <a href="{{url_for('blog.delete_post', id=article.id)}}" class="btn btn-primary mx-1">supprimer</a>
                    </div>
                </div>
            </div> 


        </div>
    </div>
</section>
{% endblock %}

{% block page_authors %}
    <a href="">Fanny,</a>
    <a href="">Mx</a>
{% endblock %}
