.events-info {
    list-style: none;
}

.events-info li {
    margin: 8px 0;
}

.events .nav-item button {
    font-size: 14px;
    padding-left: 9px;
    padding-right: 9px;
    margin-right: 2px;
}


.blog-posts article .post-meta{
    color: var(--secondary-transparent-50);
    font-style: italic;
    font-size: 13px;
}

.blog-posts .post-title h1 {
    font-size: 12px !important;
    line-height: 1 !important;
    margin-left: 0;
    color: grey !important;
}

.blog-posts .post-title h2,
.blog-posts .post-title h2 a {
    font-size: 16px !important;
    line-height: 1 !important;
    font-weight: bold !important;
    margin-left: 0;
    color: var(--primary-color);
}

.blog-article .commentaires .card {
    background-color: var(--secondary-light-color);
    border-color: transparent;
}

.blog-article .commentaires .list-group-item {
    background-color: transparent;
    border-color: transparent;
    padding: 10px;
}

.blog-article .commentaires .list-group-item h6 {
    font-size: 14px !important;
}

.blog-article .commentaires .list-group-item p {
    font-size: 14px !important;
}

/* .blog-article .commentaires button {
    display: none;
} */

.blog-article .commentaires .modal-dialog {
    margin-top: 200px;
}