<div class="col-12 col-lg-8 mt-4">
    <h4>Rechercher</h4>
    <form method="post" action="/demo/search">
        <div class="input-group mb-3">
            <input type="text" name="keywords" class="form-control" placeholder="Rechercher" aria-label="Search filter" aria-describedby="button-addon2">
            <button class="btn btn-danger" type="submit" id="button-addon2">
                <i class="bi bi-search"></i>
            </button>
        </div>                                          
    </form>
  </div>
<div class="col-md-12 mt-3 h-100">
    <h4>Categories</h4>
    {% for categorie in categories %}
     <p><a href="{{ url_for('blog.index',categorie=categorie.id)}}">{{categorie.libelle}}( {{categorie.articles|length}})</a></p>
    {% endfor %}
</div>
<div class="col-md-12 mt-3 mb-3">
    <h4>Mes Articles recentes</h4>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{url_for('blog.static', filename='blog-1.jpg') }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting little bit longer.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
</div>
