{% extends 'dashboard/layout.jinja' %}
{% set page_id = 'datatables_pg' %}

{% block page_header %}
  <h1>{{ _('Data tables') }}</h1>
  <nav class="pb-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{ url_for('home.dashboard') }}">{{ _("Accueil") }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ _('Tables') }}</li>
    </ol>
  </nav>
  <p>{{ _('Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable. Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more examples</a>.') }}</p>
{% endblock %}

{% block page_main %}
<div class="container">
  <section class="section row g-4">
    <!-- Table with stripped rows -->
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Line Chart</h5>
          <table class="table datatable">
            <thead>
              <tr>
                <th><b>N</b>ame</th>
                <th>Ext.</th>
                <th>City</th>
                <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                <th>Completion</th>
              </tr>
            </thead>
            <tbody>
            {% for addr in addresses %}
              <tr>
                <td>{{ addr.name }}</td>
                <td>{{ addr.ext }}</td>
                <td>{{ addr.city }}</td>
                <td>{{ addr.start_date }}</td>
                <td>{{ addr.progress }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div><!-- End Table with stripped rows -->
  </section>   
</div>
{% endblock %}

