
label[required]:after {
    content: " *";
    color: var(--danger-color); /* Or any color you prefer */
}

/* Style the wizard title */
#step-title h1{
  font-weight: 700;
  font-size: 24px;
  padding: 0 0 0 0;
  color: #263d40;
}

#step-title h2{
  font-weight: 700;
  font-size: 20px;
  padding: 2px 0 0 0;
  color: var(--secondary-color);
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: var(--primary-color);
}
